<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Housing</title>
</head>
<body>
    <!-- Navbar Section -->

   <!-- My Nav -->
	<nav class="nav_wrapper">
        <!-- logo -->
        <div class="logo">
           <a href="http://ccse.kennesaw.edu/it"> <img src="images/logo3.jpg"></a>
        </div>

        <!-- Nav Items -->
        <div class="nav_items">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="advertisementform.html">ADVERTISEMENT</a></li>
                <li><a href="signup.html">SIGN UP</a></li>
                <li><a href="login.html">LOGIN</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
    </nav>



{% block content %}
    
{% endblock content %}

 <!-- Footer Section -->
 <div class="footer">
    <p>Footer</p>
  </div>
</body>
</html>
    