

{% block content %}
    <!-- landlord body -->
    <div class="bookings">
        <div class="heading">
            <h1>Welcome landlord,</h1>
            <h3>Apartment bookings</h3>
            <br>
            <br>
        </div>
    
        <!-- Bookings table -->
        <div>
            <table>
                <!-- Column titles -->
                <tr>
                    <th>Room ID</th>
                    <th>Apartment Name</th>
                    <th>Student Name</th>
                    <th>Make Contact</th>
                </tr>
    
                <!-- Entries -->
                <tr>
                    <td>21</td>
                    <td>Uphill Hostel</td>
                    <td>Magret Scott</td>
                    <td>
                        <button>Make Contact</button>
                    </td>
                  </tr>
            </table>
        </div>
    
    </div>
    
{% endblock content %}
    